<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/middleware/data_filter/" method="post">
        <label>Location
            <select name="location">
                <option selected = "selected">LA</option>
                <option>NY</option>
                <option>SF</option>
            </select>
        </label>
        <br>
        <input type="submit" value = "ok" />
    </form>
    <br>
<a href="http://169.234.63.82:8000/middleware/index/">Back</a>
</body>
</html>
