<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="index.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="container">
		<div class="heading">
		</div>

		<div class="body" align="center">
			<h1>Login Page</h1>
                <form action="{% url 'login_check'%}" method="post">
                {#{% csrf_token %}#}
                    Username:<input type="text" name="username" />
                    <br>
                    Password:<input type="text" name="password" />
                    <br>
                <input type="submit" value="ok" />
                </form>
            <a href="http://169.234.63.82:8000/middleware/register/">Register</a>
        </div>
	</div>
<br>
</body>
</html>